<link rel="stylesheet" href="{{rootURL}}assets/css/stylesCustom.css">

<h1>Sobre nosotros</h1>

<hr>


<p>Ember basic components</p>

<ul class="list-group">
  <li class="list-group-item">Route</li>
  <li class="list-group-item">Model</li>
  <li class="list-group-item">View</li>
  <li class="list-group-item">Template</li>
  <li class="list-group-item">Controller?</li>
</ul>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Ember 2.0 is comming</h3>
  </div>
  <div class="panel-body">
    <p>The next version of ember will continue
    to improve the way we create web applications</p>
  </div>
</div>


{{outlet}}
