<link rel="stylesheet" href="{{rootURL}}assets/css/stylesCustom.css">

<div>
  <h1>Contáctanos<small></small></h1>
</div >
<hr>

<form>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail"
      placeholder="Email">
  </div>
  <div class="form-group">
    <label for="inputComments">Comments</label>
    <textarea class="form-control" id="inputComments"
      placeholder="Comments"></textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{{outlet}}
