<link rel="stylesheet" href="{{rootURL}}assets/css/stylesCustom.css">

<br/>
<br/>
<br/>
<h1>¡QUÉ BIEN ME ALIMENTO!</h1>
<hr>
<div class="row">

  <p class="col-md-6 col-md-offset-3  text-center  col-centered">
    Encuentra aquí la receta de cocina que estás buscando muy fácil y rápido.
    <br/> Contamos con las mejores recetas de la cocina colombiana e internacional, comida típica, sopas, bebidas, entradas, postres etc.
    <br/> Todo con fotos e instrucciones.
  </p>

  <br/>

</div>

<br/>

<br/>
<div class="row">
  {{#link-to 'listarReceta' id="btnIndex" class="col-md-2 col-md-offset-5 col-centered  text-center btn  btn-xl"}}
  Encuentra más
{{/link-to}}



</div>
